@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFEFDE;
	}
* body{
	background-color:#FFEFDE;
}
#head{
	height:100px;
	background-color:#00CC66;
	}
.container h1{
	color: #fff;
	letter-spacing:3px;
	font-size: 42px;
	}
 .container .row .col-md-7{
/* 	border: 1px solid blue; */
	 height: 480px;
	}
.container .row .col-md-5{
/* 	border: solid 1px black; */
	height: 480px;
	} 
.container .left{
	border: solid 1px #ccc;
	height: 310px;
	width: 65%;
	margin-left: 130px;
	margin-top: 110px;
	}
.container .right{
	
	height: 80px;
	width: 90%;
	margin-top: 20px;
	}

 .container .main{
/* 	border: solid 1px red; */
	height: 500px;
}
.word{
/* 	border: 1px solid blue; */
	width: 11%;
	height: 500px;
}
.word .p1{
	font-family: "微软雅黑";
	font-size:15px;
	margin-left: 56px;
}
.word .p2{
	font-family: "微软雅黑";
	font-size:15px;
	margin-left: 56px;
	margin-top: 248px;
}
.tablea{
	border: 1px solid #ccc;
	width: 855px;
	height:320px;
	margin-top: -500px;
	margin-left: 130px;
}
.tableb{
	border: 1px solid #ccc;
	width: 855px;
	height: 280px;
	margin-left: 130px;
	margin-top: -1px;
}

.tablea p{
	font-family: "微软雅黑";
	font-size: 15px;
}
.tablea span{
	color: red;
}
.tablea .pa1{
	margin-top: 35px;
	margin-left: 45px;
}
.tablea .pa2{
	margin-left: 28px;
	margin-top: -30px;
}
.tablea .timea{
	margin-left: 35px;
	color: #666;
		margin-top: 6px;
}
.tablea .pa3{
	margin-left: 312px;
	margin-top: -25px;
}
.tablea .pa4{
	margin-left: 43px;
/* 	border: solid 1px black; */
	width: 160px;
	margin-top: 24px;
}
.tablea .pa5{
	margin-left: 28px;
	margin-top: 14px;
}

form .labela{
	margin-top: 40px;
	margin-left: 30px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #666;
}
form .texta{
	width: 70%;
	height:38px;
}
form .labelb{
/* 	margin-top: 20px; */
	margin-left: 45px;
	margin-top: 12px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #666;
}
form .textb{
	width: 70%;
	height:38px;
}
form .labelc{
/* 	margin-top: 20px; */
	margin-left: 30px;
	margin-top: 12px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #666;
}
form .textc{
	width: 54.6%;
	height:38px;
}

button.btn-default{

	margin-top:-5px;
	width: 15%;
	height: 38px;
	
}
.yuding{
	background-color: red;
	width: 20%;
	height: 40px;
	color: #fff;
	margin-left: 110px;
	margin-top: 10px;
}
.line{
	background-color: #ccc;
	height: 1px;
	margin-top: 100px;
}
.foot{
	height: 100px;
	background-color: #E5E5E5;
	margin-top: 200px;
}
.foot li{
	float: left;
	margin-left: 50px;
	list-style: none;
		margin-top: 30px;
}
.foot ul{
	margin-left: 8%;
}
.foot .col-xs-9 p {
	margin-left: 140px;
	margin-top: 20px;
}
.foot .col-xs-8 p {
	margin-top: 20px;
}
.foot .xinxi{
	margin-left: 30%;
	margin-top: 10px;
}