
/****************日期插件样式******************/
.ui-datepicker-append{
    color: #999999;
    font-size: 13px;
    font-family: 'Microsoft YaHei';
    position: absolute;
    top: 0px;
}
.start-span .ui-datepicker-append{
    left: 220px;
}
.end-span .ui-datepicker-append{
    left: 488px;
}
.ui-datepicker{
    width: 305px;
    padding: 0px;
    border: 1px solid #dcdcdc;
    border-radius: 0px;
}
.ui-datepicker-header{
    width: 305px;
    height: 31px;
    line-height: 31px;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    background: url("../images/ui_header_bg.png") left top repeat-x;
}
.ui-datepicker-title,.ui-datepicker-title > span{
    height: 31px;
    line-height: 31px;
    font-family: arial;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.ui-datepicker th{
    color: #999;
    height: 38px;
    line-height: 38px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.ui-widget-header .ui-state-default,.ui-state-default{
    border: none;
    background:none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    color: #555555;
    font-size: 12px;
    background: #fdfdfd;
    margin: 0px;
    padding: 0px;
}
.ui-datepicker td span{
    margin: 0px;
    padding: 0px;
    border: none;
}
a.ui-state-default:hover,.ui-datepicker-current-day .ui-state-active {
    background: #3996ff;
    color: #ffffff;
}
ui-state-hover .ui-icon,.ui-datepicker-next-hover,
ui-state-hover .ui-icon,.ui-datepicker-prev-hover{
    background: none;
}

.ui-datepicker-next:hover,.ui-datepicker-prev:hover{
    background: none;
    border: none;
}
.ui-widget-header .ui-icon,.ui-state-hover .ui-icon{
    background: url("../images/ui_date_bg.png") no-repeat;
    top: 6px;
}
.ui-datepicker-next .ui-icon-circle-triangle-e{
    width: 18px;
    height: 11px;
    background-position:0px -22px;
}
.ui-datepicker-prev .ui-icon-circle-triangle-e{
    width: 18px;
    height: 11px;
    background-position:0px -0px;
}
.ui-datepicker .ui-datepicker-next span{
    margin: -5px 0px 0px -35px;
}
.ui-datepicker .ui-datepicker-prev span{
    margin: -5px 0px 0px 19px;
}
/****************住宿列表******************/
.stay-list{
    margin: 28px 0px 30px 0px;
}
.stay-list-left,.repast-list-left{
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fdfdfd;
    position: relative;
}
.stay-list-left{
    width: 800px;
    height: 10px;
    padding: 16px 23px 43px 23px;
    background-color: #FFEFDE;


}
.repast-list-left{
    width: 1800px;
    height: 180px;
}

.stay-list-left  .sea-div{
    height: 35px;
    line-height: 35px;
  /*  margin-top: 33px;*/
  float: left;
    position: relative;
}
.stay-list-left .search-lab{
    width: 84px;
    text-align: right;
    display: block;
    float: left;
}
.sea-div input[type=text]{
    width: 30%;
    height: 38px;
    line-height: 33px;
    color: #ff5400;
    font-family: arial;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-left: 80px;
    text-indent: 10px;
    display: block;
    float: left;
    margin-left: 108px;
    margin-top: -30px;

   
}


.sea-div input.hotel-name{
    line-height: 24px;
    color: #b8b8b8;
}
.sea-div .ui-datepicker-append{
   margin-top: 45%;
    margin-left: -46px;
    color: #fff;
}
.stay-list-left .search-but{
    width: 261px;
    height: 44px;
    line-height: 44px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    display: block;
    float: left;
    margin: 36px 0px 0px 112px;
    background: url("../images/more_bg.png") 0px -256px;
    cursor: pointer;
}
.stay-list-left .search-but:hover{
    background: url("../images/more_bg.png") 0px -206px;
}
.stay-list-right{
    width: 698px;
    height: 367px;
    position: relative;
    overflow: hidden;
}
.stay-list-right li{
    width: 698px;
    height: 367px;
}
.stay-list-right li img{
    border-radius: 5px;
}
.stay-tab-box {
    margin-bottom: 30px;
}
.stay-tab-box .stay-list-box{
    display: none;
    margin-bottom: 10px;
}
.stay-tab-box .stay-list-box:first-child{
    display: block;
}


